<%- include("partial/header.ejs") %>
    <div class="jumbotron">
        <div class="container">
            <i class=" fa fa-key fa-6x" aria-hidden="true"></i>
            <h1 class="display-3">Secretes</h1>
            <a href="/register" role="button">Resister</a>
            <a href="/login" role="button">Login</a>
        </div>
    </div>
    <%- include("partial/footer.ejs") %>